$color-violet: #87509c;
$color-light-sea-green: #17c2a4;
$color-sail: #e7f1f8;
$color-bright-sun: #30bae7;
$color-blue-light: #3c5499;
$color-blue-light-2: #344b8e;
$color-blue-dark: #3c4761;
$color-cranberry: #d74680;
$color-dark-sea-green: #15c7a8;
$color-jaffa: #eb7d4b;
$color-sand: #ffdd99;

$color-white: #ffffff;
$color-grey: #777;
$color-black: #000;

// FONT

$font-default: 1.6rem;