@include font-face(Roboto, "../fonts/RobotoBold/RobotoBold", 700, null, eot ttf woff);

body {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: $font-default;
  line-height: 1.7;
  color: $color-grey;
}

